body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.izquierda {
    background-color: #a9ff9e;
    width: 20%;
    height: 100%;
    float: left;
}

.derecha {
    float: right;
    overflow-y: scroll;
    background-color: #f4fd79;
    width: 80%;
    height: 1000px;

    
}





