body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    ;
    margin: 0;
    padding: 0;
}

.cabecera {
    overflow: hidden;
    padding: 10px;
}

.izquierda {
    float: left;
    width: 50%;

}

.derecha {
    float: right;
    width: 50%;
}

.izquierdacuerpo,
.derechacuerpo {
    width: 50%;
    box-sizing: border-box;
    float: right;
    float: left;
}